<div ng-controller="DetailsCtrl">
  <div user class="item item-balanced" model="userInfo"></div>
  <div class="card">
    <span class="item item-calm item-divider">
      {{item.name}}
      <i class="item-note">
        <a href="#" class="subdued">
          {{item.votes.up}} <i class="icon super-thumbsup"></i>
        </a>
        <a href="#" class="subdued">
          {{item.votes.down}} <i class="icon super-thumbsdown"></i>
        </a>
      </i>
    </span>
    <span class="item item-body">
      <img class="full-image" ng-src={{imgFilepathItem}}{{item.filename}} />
      <p>{{item.desc}}</p>
    </span>
  </div>
  <div class="list-inset item-divider">
    <span author ng-if="item" model={{item.authorId}} pref="userId"></span>
    Taken on: {{item.created | date : "short"}}
  </div>

  <div class="list-inset" ng-show="userInfo.$id != item.authorId">
    <!-- Like -->
    <button ng-show="!userVote" class="button icon-left button-block button-balanced super-thumbsup" ng-click="vote('up')">Like it</button>
    <button ng-show="userVote && userVote.direction != 'up'" class="button icon-left button-block button-balanced super-thumbsup" ng-click="vote('up')">Like it</button>
    <button ng-show="userVote && userVote.direction == 'up'" class="button icon-left button-block button-light super-thumbsup">Like it</button>
    
    <!-- HATE -->
    <button ng-show="!userVote" class="button icon-left button-block button-assertive super-thumbsdown" ng-click="vote('down')">This sh!t sux!</button>
    <button ng-show="userVote && userVote.direction != 'down'" class="button icon-left button-block button-assertive super-thumbsdown" ng-click="vote('down')">This sh!t sux</button>
    <button ng-show="userVote && userVote.direction == 'down'" class="button icon-left button-block button-light super-thumbsdown">This shit sux!</button>
  </div>
</div>