<div ng-controller="DetailsCtrl">
  <div class="card">
    <span class="item item-calm item-divider" ng-click="openBottomSheet()">
      {{item.name}}
      <i class="item-note">
        <i class="button-icon super-thumbsup light">{{item.votes.up}}</i>
        <i class="button-icon super-thumbsdown light">{{item.votes.down}}</i>
      </i>
    </span>
    <span class="item item-body">
      <img class="full-image" ng-src={{imgFilepathItem}}{{item.filename}} />
      <p>{{item.desc}}</p>
    </span>

    <div class="item item-divider item-stable item-icon-right">
      <span>
        <i class="item-note">by: <b>{{author.firstName}} {{author.lastName}}</b></i><br />
        <i class="item-note">Taken on: {{item.created | date : "short"}}</i>
      </span>
      <span class="item-avatar-right">
        <img ng-src={{imgFilepathUser}}{{author.filename}} />
      </span>
    </div>
  </div>
  
  <div class="list list-inset" ng-show="userInfo.$id != item.authorId">
    <!-- Like -->
    <button ng-show="!userVote" class="button icon-left button-block button-balanced super-thumbsup" ng-click="vote('up')">Like it</button>
    <button ng-show="userVote && userVote.direction != 'up'" class="button icon-left button-block button-balanced super-thumbsup" ng-click="vote('up')">Like it</button>
    <button ng-show="userVote && userVote.direction == 'up'" class="button icon-left button-block button-light super-thumbsup">Like it</button>
    
    <!-- HATE -->
    <button ng-show="!userVote" class="button icon-left button-block button-assertive super-thumbsdown" ng-click="vote('down')">This sh!t sux!</button>
    <button ng-show="userVote && userVote.direction != 'down'" class="button icon-left button-block button-assertive super-thumbsdown" ng-click="vote('down')">This sh!t sux</button>
    <button ng-show="userVote && userVote.direction == 'down'" class="button icon-left button-block button-light super-thumbsdown">This shit sux!</button>
  </div>
</div>