<!-- ###########################################################################
#                                                                              #
#                                                                              #
#                                C R E A T E                                   #
#                                                                              #
#                                                                              #
############################################################################ -->
<div ng-controller="ModalCtrl">
  <!-- WORKFLOW INDICATORS -->
  <div create ng-if="subViews['create'] && userInfo" class="item-image"></div>
  <!-- <menu ng-if="subViews['menu']" my-sites="mySites"></menu> -->
</div>