<!-- ###########################################################################
#                                                                              #
#                                                                              #
#                                C R E A T E                                   #
#                                                                              #
#                                                                              #
############################################################################ -->
<div ng-controller="ModalCtrl">
  <!-- WORKFLOW INDICATORS -->
  <div create ng-if="subViews['create'] && userInfo" class="item-image"></div>
  <div profile ng-if="subViews['profile'] && userInfo" class="item-image"></div>
</div>