<!-- ###########################################################################
#                                                                              #
#                                                                              #
#                                C R E A T E                                   #
#                                                                              #
#                                                                              #
############################################################################ -->
<div ng-controller="ModalCtrl" class="list list-inset">
  <!-- WORKFLOW INDICATORS -->
  <create ng-if="subViews['create']" my-sites="mySites"></create>
  <!-- <create></create> -->
  <menu ng-if="subViews['menu']" my-sites="mySites"></menu>
</div>